.new-expense-control{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}
.new-expense-control input{
    font: inherit;
    padding: 0.5;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;   
}
.new-expense-control label{
   font-weight: bold;
   margin-bottom: 0.5rem;
   text-align: center;
   
}
.new-expense-control-action{
    display: flex;
    justify-content: flex-end;
    

}
.new-expense-control-action button{
    text-align: center;
    padding: 1rem;
    width: 8rem;
    border-radius: 12px;
    background-color:#751f9c;
    border: 1px solid #4e1b66; 
    color: white;
}